<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.exp.iexsys.mapper.QuestionTagMapper">

    <delete id="deleteByQuestionId" parameterType="long">
        DELETE FROM question_tag WHERE question_id = #{questionId}
    </delete>

    <insert id="insertBatch">
        INSERT INTO question_tag (question_id, tag_id)
        VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{questionId}, #{tagId})
        </foreach>
    </insert>

    <select id="selectByQuestionIds" resultType="org.exp.iexsys.dto.QuestionTagView">
        SELECT qt.question_id AS questionId, qt.tag_id AS tagId, t.tag_name AS tagName
        FROM question_tag qt
        LEFT JOIN tag t ON qt.tag_id = t.tag_id
        <where>
            <if test="questionIds != null and questionIds.size() > 0">
                qt.question_id IN
                <foreach collection="questionIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="questionIds == null or questionIds.size() == 0">
                1 = 0
            </if>
        </where>
        ORDER BY qt.question_id, qt.tag_id
    </select>
</mapper>
